.login-container{
	color:#fff;
	width: 320px;

	.pageheader{
		background: none;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		padding: 0 0 25px 0;
		margin: 40px auto 0 auto;
		width: auto;

		.pageicon{
			vertical-align: top;
			border-color: #fff;
			border-radius: 50px;
			-webkit-border-radius:50px;
			-moz-border-radius:50px;
			border: 3px solid;
			text-align: center;
			display: inline-block;
			padding: 10px;
			width: 68px;
		}
		.pagetitle{
			display: inline-block;
			clear: right;
			font-weight: normal;
			h5{
				margin-bottom: 0px;
				text-transform: uppercase;
				color: rgba(255,255,255,0.5);
				font-family: 'RobotoRegular', 'Helvetica Neue', Helvetica, sans-serif;
			}
			h1{
				margin-top: 0px;
			}
		}
	}

	.login-form{
		padding-top: 20px;
	}

	.footer{
		border: none;
	}
}