// bower:scss
// endbower
$ox5-blue: #3b6c8e;
$ox5-black: #282828;
$ox5-lightblack: #333;
$white: #fff;

@import 'login.scss';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
html,body {
  // padding-top: 20px;
  // padding-bottom: 20px;
  height: 100%;
  font-family: RobotoLight, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
}

.app-container{
  height: 100%;
}

.guest-view-container{
  background-color: $ox5-blue;
  height: 100%;

  .form-group{
    float: left;
    clear: right;
  }
}

.app-header{
  background-color: $ox5-blue;
  color: $white;
  height: 110px;

  .nav{
    margin-right: 10px;
    .lang-selector{
      clear: both;
      cursor: pointer;
      background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1); 
      font-size:12px;
      margin-bottom: 10px;
    }
  }
  
}

.admin-content-container{
  overflow: hidden;
  margin-left:0;
  margin-right: 0;
  min-height: 100%;

  .leftcolumn{
    padding-right: 0px;
    padding-left: 0px;
    background-color: $ox5-black;
    margin-bottom: -99999px;
    padding-bottom: 99999px;

    .nav-stacked {

      .nav-item{
        cursor: pointer;
        margin-top: 0px;
        border-bottom: 1px #000 solid;
        border-top:1px #000 solid;
      }

      li{
        a:hover{
          background-color: #2c2c2c;
          border-color: #2c2c2c;
          border: 0;
          color: $white;
        }
        a{
          color: #999;
          border: none;
        }
      }

      a{
        color: #999;
      }

      .collapse, .collapsing{
        background-color: #eee;

        li{
          border-bottom: 1px solid #ddd;
          border-right: 1px solid #ddd;

          a:hover{
          background-color: #fff;
          color: $ox5-lightblack;
          }
          a{
            color: $ox5-lightblack;
          }
        }
      }
    }
  }

  .rightcolumn{
    padding-left: 0px;

    .pageheader{
      padding: 20px;
      border-bottom: 1px solid #ddd;
      min-height: 68px;
      position: relative;
      background: $white;
      color: $ox5-blue;
    }

    .fade{
      height: 0;
      padding: 0;
      margin: 0;
      -webkit-transition:height .15s linear;
      transition:height .15s linear;
    }

    .fade.in{
        height: auto;
        padding: 15px;
    }

    .panel{
      margin: 20px;
      border: 1px solid $ox5-blue;
    }

    .panel-heading{
      background-color: $ox5-blue;
      color: $white;
    }

    .resource-edit{
      margin: 20px;

      .panel{
        border: 1px solid $ox5-black;

        .panel-heading{
          background-color: $ox5-black;
          color: $white;
        }
      }

      .form-group{
        margin-left: 0px;
        margin-right: 0px;
      }
    }

    .drop-box{
      background: #F8F8F8;
      border: 5px dashed #DDD;
      width: 200px;
      height: 65px;
      text-align: center;
      padding-top: 35px;
      margin-top: 15px;
    }

    .data-container{
      padding: 20px;

      .search-form{
        padding-left: 20px;
      }

      /* Everything for the data tables*/
      .table-wrapper{
        padding: 20px;

        .table-title{
          background-color: $ox5-blue;
          color: $white;
          margin: 0px;
          padding: 12px 15px;
          font-size: 14px;
          line-height: normal;
        }

        thead{
          tr{
            border: none;
            border-color: #444;
            background-color: $ox5-lightblack;
            color: $white;
          }
        }
      }
      
    }
  }
}





/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
