<div class="data-container">
		<div class="form-group form-horizontal search-form">
			<label for="search">Search</label>
			<input type="text" name="search" ng-model="search"/>
		</div>
		
		<div class="table-wrapper table-responsive" role="grid">
			<h4 class="table-title" translate>{{pagetitle}}</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<td ng-repeat="label in datacontainer.labels" translate>{{label}}</td>
						<td translate>Actions</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dataitem in datacontainer.data | filter:search">
						<td ng-repeat="label in datacontainer.labels">
							{{dataitem[label]}}
						</td>
						<td><a ng-click="viewDataItem(dataitem.id)">View</a> <a ng-click="editDataItem(dataitem.id)">Edit</a></td> 
					</tr>
				</tbody>
			</table>
		</div>
</div>