<div class="panel panel-default">
		<div class="panel-heading">
			<span translate class="panel-title">{{title}}</span>
		</div>
		<div class="panel-body">
			<div ng-transclude></div>
		</div>
</div>