<pageheader></pageheader>
<panel title="{{pagetitle}}">
	<table class="table table-bordered">
		<tr ng-repeat="user in users | orderBy: contact">
			<td>
				<p>
					<a href="#/admin/clients/{{user.id}}">{{user.contact}}</a> - 
					<span>{{user.name}}</span> - 
					<span>{{user.username}}</span>
				</p>
				<p>{{user.street+','+user.zip+','+user.city+','+user.province}}</p>
			</td>
		</tr>
	</table>
</panel>