<pageheader></pageheader>
<panel title="Clients awaiting approval">
	<table class="table table-bordered">
				<tr ng-repeat="client in clientsWaiting">
					<td>
						{{client.name}}
					</td>
				</tr>
	</table>
</panel>

<panel title="Orders since last login"></panel>