<div class="login-container container">

	<div>
		<div class="row row-centered">
			<div class="pageheader">
		            <div class="pageicon"><i class="fa fa-hand-o-down fa-3x"></i></div>
		            <div class="pagetitle">
		                <h5>Web Order Tool Login</h5>
		                <h1>Sign in</h1>
		            </div>
		    </div>

		    <div class="login-form">
				<form name="loginForm" class="form" ng-controller="AdminCtrl" ng-submit="login(credentials)" novalidate role="form">
				  
				  <div class="form-group">
				  	<label for="username" class="col-sm-3">Username:</label>
				  	<div class="col-sm-8">
				  		<input type="text" class="form-control" id="username" ng-model="credentials.username" placeholder="Enter your username">
				  	</div>
				  </div>
				  
				  <div class="form-group">
					<label for="password" class="col-sm-3">Password:</label>
					<div class="col-sm-8">
						<input type="password" class="form-control" id="password" ng-model="credentials.password" placeholder="Enter your password">
					</div>
				  </div>
				  <button type="submit" class="btn btn-primary form-control">Sign In</button>
				</form>
			</div>
		</div>
		<div class="row row-centered">
			<div class="footer">
			        <p>@{{ 2014 }} Cloudfarm5. All rights reserved</p>
			</div>
		</div>
	</div>
	
</div>
