<pageheader></pageheader>

<panel title="{{pagetitle}}">
	<table class="table table-bordered">
		<tr ng-repeat="orderItem in orders">
			<td>
				<p>
					<a href="#/admin/orders/{{orderItem.id}}"><span translate>Order</span> <span>{{orderItem.id}}</span></a> - 
					<span>{{orderItem.created | date:'d MMM yyyy'}}</span> - 
					<span>{{orderItem.user_id}}</span>
				</p>
				<p>
					<span ng-repeat="orderdetail in orderItem.orderdetails">{{orderdetail.product.name}}</span>
				</p>
			</td>
			<td>
				<p><span translate>Order status</span>:<span>{{orderItem.updated_order_status}}<span></p>
			</td>
			<td>
				<div ng-click="reorder(orderItem.id)">
					<p translate>Order again</p>
					<p translate>You will have the possibility to modify the new order</p>
				</div>
			</td>
		</tr>
	</table>
</panel>
