<table>
<tr>
   <td>Name</td>
   <td>{{product.name}}</td>
</tr>
<tr>
	<td>Category</td>
   	<td>{{product.category.name}}</td>
</tr>
<tr>
	<td>Description</td>
	<td>{{product.description}}</td>
</tr>
</table>