<pageheader></pageheader>
<div flash-alert="success" active-class="in" class="alert fade alert-dismissible">
    <strong class="alert-heading">Congrats!</strong>
    <span class="alert-message">{{flash.message}}</span>
</div>
<panel class="resource-edit" title="{{pagetitle}}">
	<form novalidate class="form" role="form">
			<div class="form-group">
				<label for="category">Category</label>
				<div>
					<select class="form-control">
						<option ng-repeat="category in categories" ng-model="product.category_id">{{category.name}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
					<label>Name</label>
					<div>
						<input type="text" class="form-control" ng-model="product.name"/>
					</div>
			</div>
			<div class="form-group">
					<label>Description</label>
					<div>
						<textarea class="form-control" ng-model="product.description"></textarea>
					</div>
			</div>
			<div class="form-group">
					<label>Product Code</label>
					<div>
						<input type="text" value="{{product.code}}" class="form-control" ng-model="product.code"/>
					</div>
			</div>
			<div class="form-group">
					<label>Input tag</label>
					<input data-role="tagsinput" ng-model="product.tags" type="text"/>
			</div>
			<div class="form-group">
					<label>Image</label>
					<input type="file" ng-file-select="onFileSelect($files)" class="form-control" ng-model="product.image">
					<div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function" class="drop-box" ng-model="product.image">drop file here</div>
			</div>
			<div class="form-group">
					<label>Status</label>
					<div>
						<select class="form-control" ng-model="product.status">
							<option value="1">Active</option>
							<option value="0">Inactive</option>
						</select>
					</div>
			</div>
			<button ng-click="updateProduct()" class="btn btn-primary">Submit</button>
			<button ng-click="goBack()" class="btn">Cancel</button>
	</form>
</panel>
