<div class="app-header" ng-controller="AdminCtrl">
        <ul class="nav pull-right">
          <li><h5>Welcome {{user.username}}</h5></li>
          <li class="lang-selector" ng-click="logout()">
          	<span>Logout</span>
          </li>
          <li class="lang-selector"><span ng-click="changeLanguage('en')">English</span> | <span ng-click="changeLanguage('fr')">French</span></li>
        </ul>
        <img src="images/cf5logo.png">
</div>
<div class="row admin-content-container">
	<div class="leftcolumn col-md-2">
		<ul class="nav nav-tabs nav-stacked">
			<li class="nav-item"><a ng-href="#/admin/home">Home</a></li>
			<li class="nav-item">
				<a ng-href="" data-toggle="collapse" data-target="#collapse-menu1">Catalog Management</a>
				<ul id="collapse-menu1" class="collapse nav">
					<li><a ng-href="#/admin/subjects">Manage Subjects</a></li>
					<li><a ng-href="#/admin/types">Manage Types</a></li>
					<li><a ng-href="">Manage Categories</a></li>
					<li><a ng-href="#/admin/products">Manage Products</a></li>
				</ul>
			</li>
			<li class="nav-item"><a ng-href="#/admin/orders">Orders</a></li>
			<li class="nav-item"><a ng-href="">Notifications</a></li>
			<li class="nav-item"><a ng-href="#/admin/clients">Clients</a></li>
			<li class="nav-item"><a ng-href="">Settings</a></li>
		<ul>
	</div>
	<div class="col-md-10 rightcolumn">
		<div ui-view>
		</div>
		<div class="footer">
        	<p>@{{ 2014 }} Cloudfarm5. All rights reserved</p>
		</div>
	</div>
</div>
